.display-1 {
    font-size: 7rem;
}

.display-2 {
    font-size: 6.5rem;
}

.display-3 {
    font-size: 6rem;
}

.display-4 {
    font-size: 5.5rem;
}

.display-5 {
    font-size: 5rem;
}

.display-6 {
    font-size: 4.5rem;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-weight: 600;
}


.h1 {
    font-size: 40px;
}

.h2 {
    font-size: 32px;
}

.h3 {
    font-size: 28px;
}

.h4 {
    font-size: 24px;
}

.h5 {
    font-size: 20px;
}

.h6 {
    font-size: 16px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
}

.p {
    font-size: 16px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.fw-normal {
    font-weight: normal;
}

.fz-18 {
    font-size: 18px;
}

.lh25 {
    line-height: 25px;
}